html {
  height: 100%;
}

body {
  height: 100%;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

@media (max-width: 400px) {
  #collapseEx2 {
    height: 300px;
  }
}

.navbar {
  padding-left: 10%;
  padding-right: 10%;
  height: 60px;
  box-shadow: 0px 0px 0px 0px;
  background-color: black;
}

.navbar li {
  margin-top: -5px;
  text-align: center;
  height: 50px;
  padding-bottom: 2px;
}

.navbar li:hover {
  background-color: grey;
}

.navbar a.navbar-brand {
  height: 50px;
  width: 50px;
  border: solid 2px black;
  border-radius: 50%;
  background-color: black;
}

.navbar a.navbar-brand img {
  height: 50px;
  width: 50px;
}

.navbar a.navbar-brand:hover {
  height: 50px;
  width: 50px;
  border: solid 2px white;
}

header {
  text-align: center;
  background: transparent !important;
  background: black;
  height: 100%;
  background-size: cover;
  margin-bottom: 5%;
}

header img {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: -15%;
}

header h1 {
  position: absolute;
  top: 80%;
  left: 26%;
  right: 26%;
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px black;
}

.about {
  background-color: white;
  padding-bottom: 7%;
  padding-top: 7%;
}

#aboutChandelier h1 {
  font-size: 5em;
  display: table;
  text-align: center;
  padding-top: 25%;
  padding-left: 25%;
}

#aboutText p {
  text-align: justify;
  font-size: 1.14em;
  padding-top: 12%;
  padding-right: 10%;
}

#special {
  background: grey;
  padding-bottom: 8%;
  padding-top: 8%;
}

#specialConsiderations h1 {
  text-align: center;
  padding-top: 10%;
  padding-left: 10%;
  color: #f2f2ef;
  text-shadow: 2px 2px #3d3d3c;
  font-size: 3em;
}

#specialConsiderations p {
  color: #f2f2ef;
  text-align: justify;
  font-size: 1.5em;
  padding-top: 2%;
  padding-left: 10%;
  text-shadow: 1px 1px #3d3d3c;
}

#specialConsiderations h6 {
  padding-left: 11%;
  padding-right: 4%;
  font-size: .8em;
  text-align: justify;
}

#num1Priority {
  padding-top: 5%;
}

#num1Priority h1 {
  text-align: center;
  font-size: 5em;
  color: #f2f2ef;
  text-shadow: 4px 4px #3d3d3c;
}

#num1Priority h2 {
  text-align: right;
  padding-right: 5%;
}

#num1Priority #num1 {
  font-size: 1.5em;
}

#num1Priority #quote {
  font-size: 1.5em;
}

.title {
  text-align: center;
  padding: 10% 7% 5% 7%;
  background-color: black;
}

.title h1 {
  position: absolute;
  margin-top: -26%;
  left: 25%;
  right: 25%;
  color: white;
  font-size: 4em;
}

.title p {
  padding-top: 5%;
  font-size: 1.2em;
  color: white;
}

.performers {
  padding-bottom: 10%;
  background-color: white;
}

.performingGroup .row {
  text-align: center;
}

.performingGroup .row h1 {
  padding-bottom: 5%;
}

#alisonSect {
  padding-top: 5%;
  padding-bottom: 8%;
}

#alison {
  width: 50%;
  height: 50%;
  margin-left: 25%;
}

#alisonBio {
  padding-right: 10%;
  padding-top: 3%;
  text-align: justify;
}

#cassieSect {
  background-color: #0c1458;
  padding-top: 10%;
  padding-bottom: 8%;
  margin-right: 0%;
  margin-left: 0%;
  color: white;
}

#cassie {
  padding-top: 5%;
  width: 60%;
  height: 60%;
}

#cassieBio {
  color: white;
  padding-right: 10%;
  text-align: justify;
  font-size: 1.4em;
}

#cornellSect {
  background-color: #white;
  padding-top: 10%;
  padding-bottom: 7%;
}

#cornell {
  width: 50%;
  height: 50%;
  padding-top: 2%;
  padding-left: 5%;
}

#cornell img {
  border: solid 15px black;
  border-radius: 15px;
  box-shadow: 10px 15px 10px #888888;
}

#cornell img:hover {
  border: solid 25px black;
  box-shadow: 10px 15px 10px #888888;
}

#cornellBio {
  margin-top: -1%;
  font-size: 1.2em;
  border: groove 40px grey;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  padding-top: 8%;
  margin-left: 6%;
  box-shadow: 10px 10px 20px #888888;
}

#philAndEllenSect {
  padding-top: 10%;
  background: linear-gradient(to right, #ff9c7c, #ff1fff);
  padding-bottom: 7%;
}

#philAndEllen img {
  height: 100%;
  width: 100%;
}

#philAndEllenBio {
  font-size: 1.5em;
  text-align: justify;
  padding-top: 2%;
  padding-right: 5%;
}

#jessicaSect {
  background-color: #9904ff;
  padding-top: 5%;
  padding-bottom: 8%;
}

#jessica img {
  height: 75%;
  width: 75%;
}

#jessicaBio {
  padding-right: 5%;
  text-align: justify;
  padding-top: 5%;
  font-size: 1.4em;
}
